[submodule "themes/astatine"]
	path = themes/astatine
	url = https://github.com/hugcis/hugo-astatine-theme.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
